In [1]:
%matplotlib notebook

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
clintrial_df = pd.read_csv("raw_data/clinicaltrial_data.csv")
clintrial_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
mousedrug_df = pd.read_csv("raw_data/mouse_drug_data.csv")
mousedrug_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [5]:
combo_df = pd.merge(clintrial_df, mousedrug_df, on="Mouse ID")
#combo_df = combo_df.set_index('Drug')
combo_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

In [13]:
grouped_combo_df = combo_df.groupby(['Drug','Timepoint'])['Tumor Volume (mm3)'].max()

grouped_combo_df

Drug       Timepoint
Capomulin  0            45.000000
           5            45.895647
           10           46.759074
           15           47.488599
           20           48.158209
           25           46.809225
           30           45.261384
           35           45.941949
           40           46.821070
           45           47.685963
Ceftamin   0            45.000000
           5            48.009190
           10           50.517498
           15           52.761021
           20           55.025724
           25           58.335959
           30           61.071949
           35           63.430632
           40           66.622836
           45           68.923185
Infubinol  0            45.000000
           5            49.340203
           10           51.852437
           15           54.216064
           20           56.742007
           25           61.461970
           30           64.149871
           35           67.821420
           40           69.428141
           45           72.226731
                          ...
Ramicane   0            45.000000
           5            45.877545
           10           46.422943
           15           47.227171
           20           46.585433
           25           46.705325
           30           47.622816
           35           47.001465
           40           44.471821
           45           45.220869
Stelasyn   0            45.000000
           5            49.342630
           10           53.523990
           15           55.905344
           20           61.145866
           25           64.893020
           30           67.712510
           35           68.689917
           40           70.222297
           45           75.123690
Zoniferol  0            45.000000
           5            49.273971
           10           51.072512
           15           53.945544
           20           58.841189
           25           60.253481
           30           65.893986
           35           66.742924
           40           71.108118
           45           73.324432
Name: Tumor Volume (mm3), Length: 100, dtype: float64